:root {
    --box-shadow: 1px 1px 3px #999;
    --color-blue: aliceblue;
    --color-yellow: cornsilk;
    --dark: #1c1b1a;
    --light: #f9f9f9;
    --line-height: 1.8;

    --color: #805c06;
    --color-background: var(--light);
    --color-background-accent: #fff;
    --color-faint: #d9d9d9;
    --color-text: var(--dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: wheat;
        --color-background: var(--dark);
        --color-background-accent: #000;
        --color-faint: #333;
        --color-text: var(--light);
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    column-gap: 2rem;
    display: grid;
    font-family: -system, sans-serif;
    grid-template:
        "header header" auto
        "nav    main" auto
        "nav    footer" auto / 24ch 1fr;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 0.75rem;
    row-gap: 1rem;
}

@media(max-width: 800px) {
    body {
        grid-template:
            "header" auto
            "nav" auto
            "main" auto
            "footer" auto;
    }
}

body>header {
    grid-area: header;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--color-faint);
}

body>details>summary {
    display: none;
}

@media(max-width: 800px) {
    body>details>summary {
        border: 1px solid var(--color-faint);
        border-radius: 0.25rem;
        cursor: pointer;
        display: inline-block;
        padding: 0.25rem 0.5rem;
    }

    body>details>summary::before {
        content: '📘';
        filter: sepia(100);
        margin-right: 0.25rem;
    }

    body>details[open]>summary::before {
        transform: rotate(90);
        content: '📖';
    }

    body>details>nav {
        margin-top: 1rem;
    }
}

body>nav {
    grid-area: nav;
    overflow-y: auto;
}

body>footer {
    grid-area: footer;
}

body>main {
    grid-area: main;
}

main>h1,
nav>ul {
    margin-top: 0;
}

main a {
    text-decoration: underline;
}

main p {
    line-height: var(--line-height);
}

main ul {
    line-height: var(--line-height);
}

nav>ul {
    padding-left: 0;
}

nav ul li {
    list-style: none;
    margin: 0.25em 0;
}

nav>ul>li {
    margin-top: 0.75em;
}

nav>ul:first-child>li {
    margin-top: 0;
}

nav li ul {
    padding-left: 1em;
}

nav a {
    display: inline-block;
    padding: 0.5em 0;
}

a {
    color: var(--color);
    text-decoration: none;
}

figure {
    margin: 1.2em inherit;
    width: auto;
    max-width: 100%;
}

figure>figcaption {
    font-style: italic;
    text-align: center;
}

figure>picture+figcaption::before {
    content: "🖼️ ";
    font-style: normal;
    padding-right: 0.25em;
}

figure picture img {
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

pre {
    box-shadow: var(--box-shadow);
    white-space: pre-wrap;
}

pre>code {
    display: block;
    padding: 1em;
}