aside[role="note"] {
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    margin: 1rem 0;
    padding: var(--pico-spacing);
}

aside[role="note"]::before {
    border-top-left-radius: var(--pico-border-radius);
    border-top-right-radius: var(--pico-border-radius);
    background: aliceblue;
    color: light-dark(var(--pico-contrast), var(--pico-contrast-inverse));
    content: "🛈 Info";
    display: block;
    line-height: 1;
    margin: calc(var(--pico-spacing) * -1);
    margin-bottom: 1rem;
    padding: var(--pico-spacing);
}

aside[role="note"].note::before {
    content: "📝 Note";
    background: beige;
}

aside[role="note"].tip::before {
    content: "💡 Tip";
    background: beige;
}

aside[role="note"]>p:last-child {
    margin-bottom: 0;
}
