[tool.poetry]
name = "blurry"
version = "0.1.0"
description = "A Mistune-based static site generator for Python"
authors = ["John Franey <johnfraney@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
PyLD = "^2.0.3"
mistune = "3.0.0rc5"
Jinja2 = "^3.0.0"
livereload = "^2.6.3"
typer = "^0.6.1"
Wand = "^0.6.6"
toml = "^0.10.2"
htmlmin = "^0.1.12"
selectolax = "^0.3.6"

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pytest-watch = "^4.2.0"
pytest-cov = "^2.11.1"
black = "^22.10.0"

[tool.poetry.scripts]
blurry = 'blurry:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
include = ["blurry/**"]
exclude = [
    "**/node_modules",
    "**/__pycache__",
    "**/.*",
    "blurry/tests"
]