<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <style>{% include "mvp.css" %}</style>
</head>

<body>
    <header>
        <nav>
            <a href="/">johnfraney.ca</a>
            <ul>
                <li><a href="#">Menu Item 1</a></li>
            </ul>
        </nav>
        <h1>johnfraney.ca</h1>
    </header>
    <main>
        <hr>
        <article>
          {% block article %}{% endblock %}
        </article>
    </main>
    <footer>
        <hr>
        <p>
            <small>&copy; 2018-2021 John Franey</small>
        </p>
    </footer>
</body>

</html>
